@import "node_modules/bootstrap-4-grid/scss/grid";
@import "./src/fonts.scss";
@import "./src/variables.scss";
@import "./src/style.scss";
// import "@/modules/pf-module-keyvisual/pf-keyvisual.scss"; -js


html, body,h1, h2, h3, h4, h5, h6, p, ul, a, figure, figcaption, footer, header, menu, nav {
	margin: 0;
	padding: 0;
	border: 0;
}

ul, li {
  text-decoration: none;
  list-style-type:none;
}

body {
  font-family: 'SpaceMono';
  font-weight: 400;
  font-size: $font-size-xs;
  color: $black;
  line-height: 1;
}

img {
  max-width: 100%;
}