@font-face {
  font-family: "Radley";
  src: url(./fonts/Radley/Radley-Regular.ttf);
  font-weight: 400;
}

;

@font-face {
  font-family: "SpaceMono";
  src: url(./fonts/Space_Mono/SpaceMono-Regular.ttf);
  font-weight: 400;
}

;

@font-face {
  font-family: "SpaceMono";
  src: url(./fonts/Space_Mono/SpaceMono-Bold.ttf);
  font-weight: 700;
}

;