<a class="social-media__item" href="#" target="_blank"><img src="./static/facebook.svg" alt=""></a>
<a class="social-media__item" href="#" target="_blank"><img src="./static/instagram.svg" alt=""></a>
<a class="social-media__item" href="#" target="_blank"><img src="./static/twitter.svg" alt=""></a> 