<footer class="footer">
  <p>
    <%- htmlWebpackPlugin.options.variables.footer_content %>
    <span class="footer__text--highlighted">
      <%- htmlWebpackPlugin.options.variables.footer_organizer %></span>
  </p>
  <p class="footer__text--highlighted">
    <%- htmlWebpackPlugin.options.variables.footer_credit %>
  </p>
  <p>
    <%- htmlWebpackPlugin.options.variables.footer_data %>
  </p>
</footer>