<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="col-12">
          <h2 class="section__title">
            content & design strategy
          </h2>
          <div class="intro-content__text">
            Fashion axe austin DIY wolf 3 wolf moon, direct trade YOLO tote bag paleo blog. Meggings cloud bread
            cray, 3 wolf moon before they sold out literally normcore retro ennui fam umami letterpress actually
            distillery vinyl. Wayfarers slow-carb umami VHS. Unicorn activated charcoal fanny pack tbh subway tile
            knausgaard PBR&B.
          </div>
        </div>
        <div class="col-12">
          <h2 class="section__title">
            the skillset
          </h2>
          <div class="intro-skills__text">
            <ul>
              <li>design</li>
              <li>creative strategy</li>
              <li>brainstorming session</li>
              <li>planning</li>
              <li>prototyping</li>
            </ul>
            <p class="section__note">read more on linkedin</p>
          </div>
        </div>
      </div>
      <div class="col-5 offset-1">
        <figure>
          <img class="intro__image" src="img/author.jpg" alt="" />
          <figcaption>photo by Amy Ferris / Usplash</figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
<section class="projects">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section__title">projects</h2>
        <p>Fashion axe austin DIY wolf 3 wolf moon, direct trade YOLO tote bag paleo blog.
        </p>
      </div>
      <div class="col-12 col-md-4">
        <img class="project__image" src="img/vintage-house.jpg" alt="">
        <h3 class="project__heading">the vintage house</h3>
        <p class="project__describtion">Fashion axe austin DIY wolf 3 wolf moon, direct trade YOLO tote bag paleo
          blog.</p>
      </div>
      <div class="col-12 col-md-4">
        <img class="project__image" src="img/colors-of-interior.jpg" alt="">
        <h3 class="project__heading">colors of interior</h3>
        <p class="project__describtion">Fashion axe austin DIY wolf 3 wolf moon, direct trade YOLO tote bag paleo
          blog.</p>
      </div>
      <div class="col-12 col-md-4">
        <div class="col-12">
          <h3 class="project__heading">the greenery</h3>
          <p class="project__describtion">Fashion axe austin DIY wolf 3 wolf moon, direct trade YOLO tote bag paleo
            blog.</p>
        </div>
        <div class="col-12">
          <h3 class="project__heading">another project</h3>
          <p class="project__describtion">Fashion axe austin DIY wolf 3 wolf moon, direct trade YOLO tote bag paleo
            blog.</p>
        </div>
        <div class="col-12">
          <h3 class="project__heading">and one more</h3>
          <p class="project__describtion">Fashion axe austin DIY wolf wolf moon, direct trade YOLO tote bag paleo
            blog.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about-me">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section__title">
          for more updates follow me on <span class="section__title--orange">instagram</span>
        </h2>
      </div>
      <div class="col-6 col-md-3">
        <img src="img/instagram1.jpg" alt="">
      </div>
      <div class="col-6 col-md-3">
        <img src="img/instagram2.jpg" alt="">
      </div>
      <div class="col-6 col-md-3">
        <img src="img/instagram3.jpg" alt="">
      </div>
      <div class="col-6 col-md-3">
        <img src="img/instagram4.jpg" alt="">
      </div>
      <p class="section__note">@thisismyinstagram</p>
    </div>
  </div>
</section>
<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section__title section__title--bigger">
          let's stay in touch
        </h2>
      </div>
    </div>
  </div>
</section>