<header class="header">
  <nav class="header__navigation">
    <ul>
      <li>design</li>
      <li>projects</li>
      <li>about me</li>
      <li>contact</li>
    </ul>
  </nav>
  <div class="container header__container">
    <div class="row">
      <div class="col-12">
        <h1 class="header__title">
          creative soul
        </h1>
        <div class="header__subtitle">
          <p>meet me and my works</p>
          <p>designer & content strategist from Warsaw</p>
        </div>
      </div>
    </div>
  </div>
</header>