.header {
  background: url(./img/banner.jpg) no-repeat;
  background-attachment: fixed;
  background-size: 150%;
  background-position: 85% 0%, 50%;
  height: 50vh;
}

.header__navigation {
  display: block;
  height: 10vh;
  position: relative;
}

.hamburger__button {
  width: 36px;
  height: 36px;
  background-color: $white;
  position: absolute;
  right: 10px;
  margin-top: 10px;
}

.hamburger__bar {
  height: 3px;
  width: 20px;
  background: $orange;
  position: absolute;
  left: 8px;
  top: 10px;
}

.hamburger__bar--2 {
  top: 16px;
}
.hamburger__bar--3 {
  top: 22px;
}

.navigation__list {
  // display: none;
}

.header__navigation--visible {
  position: fixed;
  z-index: 9999;
  background-color: $white;
  width: 100%;
  height: 100%;

  .navigation__list {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    height: 35%;
    justify-content: space-around;
    align-items: center;

    &::before, &::after {
      content: url(./img/line.svg);
      position: absolute;
      width: 40%;
    }

    &::before {
      top: -30px;
    }

    &::after{
      bottom: -30px;
    }
  }

  .navigation__list__item:hover {
    color: darken($orange, 10%);
    transition: all 1s ease-in-out;
  }
}

.header__container {
  height: 40vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: $white;
}

.header__title {
  font-family: 'Radley';
  font-weight: 400;
  font-size: $font-size-md * 2;
}

.section__title {
  font-family: 'Radley';
  font-weight: 400;
  line-height: 1;
  font-size: $font-size-xl / 3;
  margin: 50px 0 30px 0;
}


// @keyframes moving-line {
//   0% {transform: rotate(0deg)};
//   10% {transform: rotate(0.1deg)};
//   20% {transform: rotate(0.2deg)};
//   40% {transform: rotate(0.3deg)};
//   50% {transform: rotate(0.5deg)};
//   60% {transform: rotate(0.3deg)};
//   80% {transform: rotate(0.2deg)};
//   80% {transform: rotate(0.1deg)};
//   100% {transform: rotate(0deg)};
// }
.section__title--bigger {
  position: relative;

  &::after {
    content: url(./img/line.svg);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    width: 80%;
    z-index: -1;
    // animation: moving-line 1s infinite ease-in-out;
  }
}

.project__wrapper__image {
  margin-bottom: 25px;
}

.project__heading {
  font-family: 'Radley';
  font-weight: 400;
  color: $orange;
  font-size: $font-size-md;
  margin-bottom: 15px;
}

.intro {
  position: relative;
}
.intro__wrapper__image {
  display: none;
}

.skills__list__item {
  font-family: "Radley";
  font-size: 15px;
  border-bottom: 1px solid $gray;
  padding: 10px;
  max-width: 250px;
}

.project__text {
  margin-bottom: 40px;
}

.project__wrapper {
  position: relative;
}

.project__wrapper__image, .project__wrapper__content {
  padding: 0;
  position: unset;
  width: unset;
}

.project__wrapper .project__wrapper__content {
  margin: 15px 0 30px 0;
}

.project_heading--rotated {
  position: absolute;
  top: 35%;
  left: -60px;
  transform: rotate(-90deg);
  margin: 0;
}

.project__description {
  margin-bottom: 20px;
}

.project__wrapper__image {
  display: block;
  margin: 0 auto;
  height: 300px;
}

.aboutme__images {
  display: flex;
  flex-wrap: wrap;

  & > div {
    padding: 5px 5px 0 5px;
  }
  & > div:nth-child(3) {
    order: 4;
  };
  & > div:nth-child(4) {
    order: 3;
  };
}

.section__note {
  font-size: 15px;
  color: $orange;
  text-decoration: underline;
  cursor: pointer;
}

.aboutme__note {
  padding-left: 20px;
}

.skills__note {
  padding-top: 20px;
}

.contact {
  text-align: center;
}

.section__title--highlighed, .footer__text--highlighted {
  color: $orange;
}

.footer {
  background-color: $gray;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 70px;
  padding: 30px;
}

.footer__text--highlighted:first-child {
  text-decoration: underline;
}

@media (min-width: 480px) {
  .intro__wrapper__image {
    display: block;
    position: absolute;
    bottom: -5px;
    right: 0;
    max-width: 200px;
  }

  .intro__image {
    position: relative;

    &::before {
      content: url(./img/cross.svg);
      position: absolute;
      z-index: -1;
      top: -40px;
      left: -45px;
      width: 50%;
    }
  }

  .project_heading--rotated {
    position: relative;
    transform: rotate(0deg);
    top: 0;
    left: 0;
  }
}

@media (min-width: 480px) and (max-width: 767.98px) {

  .project__wrapper{
    display: flex;
    align-items: center;
  }

  .project__wrapper--block {
    display: block;
  }

  .project__wrapper__image {
    order: 1;
    height: unset;
    width: 47vw;
  }

  .project__wrapper:nth-child(odd) {
    .project__wrapper__image {
      order: 0;
    }
    .project__wrapper__content {
      text-align: right;
    }
  }
  
  .project__wrapper__image {
    margin: 0 0 0 auto;
  }
}

@include media-breakpoint-up(sm) {
  .header {
    background-size: 100%;
  }

  .navigation__list {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
  }

  .header__title {
    font-size: $font-size-lg*2;
  }

  .section__title {
    font-size: $font-size-md;
  }

  .section__title--bigger {
    font-size: $font-size-lg;
  }


}

@include media-breakpoint-up(md) { 
  .header {
    height: 80vh;
  }
  
  .header__navigation {
    height: 8vh;
  }

  @keyframes move-down { 
    0%   { transform: translateY(-100px); }
    50% { transform: translateY(-50px); }
    100% { transform: translateY(0); }
  }

  .header__navigation.fixed {
    position: fixed;
    top: 0;
    left: 0;
    height: 8vh;
    width: 100%;
    background-color: darken($vivid-orange, 2%);
    z-index: 9999;
    animation: move-down .3s forwards;
  }

  .navigation__list__item:hover {
    color: $white;
    border-bottom: 1px solid $white;
    line-height: 21px + 3px;
    padding-bottom: 2px;
    transition: all 0.3s ease-out;
  }
  
  .header__container {
    height: 72vh;
  }

  .header__title {
    font-size: $font-size-xl;
  }

  .section__title {
    font-size: $font-size-lg;
  }

  .section__title--bigger {
    font-size: $font-size-lg * 2;

    &::after {
      width: 100%;
      max-width: 690px;
      bottom: -40px;
    }
  }

  .intro__wrapper__image {
    position: relative;
    max-width: unset;
  }

  .intro__image {
    position: absolute;
    top: 35%;

    &::before {
      left: -70px;
    }
  }

  .project__wrapper__image {
    height: unset;
    width: 100%;
  }

  .project__wrapper:nth-child(odd) {
    & > .project__wrapper__image {
      max-height: 380px;
    }
  }

  .aboutme__images > div {
    padding: 10px;

    &:nth-child(3) {
      order: 3;
    };

    &:nth-child(4) {
      order: 4;
    }
  }
}

@include media-breakpoint-up(lg) {
  .intro__wrapper-strategy > .section__title {
    max-width: 350px;
  }

  .intro__wrapper__image {
    max-width: 435px;
  }
  .intro__image {
    top: unset;
    bottom: 0;
    
    &::before {
      top: -50px;
      left: -90px;
    }
  }
}

@include media-breakpoint-up(xl) {
  .header__title {
    font-size: $font-size-xl * 2;
  }

  .project__wrapper:nth-child(odd) {
    & > .project__wrapper__image {
      max-height: 465px;
    }
  }
}